# Benjamin 12/02/2017 + 04/03/2017
# Don't add this stuff to Git Repository

# Bytecode
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Virtual environment
venv

# VS Code
.vscode

# Whoosh Index
whoosh_index/*

# SQLite Database
*.sqlite