{% extends "base.html" %} {% block styles %} {{ super() }}
<style>
    h2,
    h3 {
        color: #fcd062;
        text-shadow: grey 0.1em 0.1em 0.2em;
        margin-top: -10px;
    }
    
    @media (max-width: 770px) {
        h2,
        h3 {
            margin-top: 10px;
        }
    }
    
    p {
        font-size: 1.22em;
    }
    
    .row {
        margin-top: 30px;
        margin-bottom: 10px;
    }
</style> {% endblock %} {% block page_content %}

<div class="row">
    <div class="col-sm-2">
        <img src="{{ url_for('static', filename='images/coding/magic_wand1.png') }}" alt="technology logo" class="img-responsive" />
    </div>
    <div class="col-sm-10">
        <img src="{{ url_for('static', filename='images/coding/welcome_code.gif') }}" alt="technology logo" class="img-responsive" />
        </br> <img src="{{ url_for('static', filename='images/coding/coding_magic2.gif') }}" alt="technology logo" class="img-responsive" />
    </div>
</div>
<!-- What is Code -->
<div class="row">
    <div class="col-sm-7">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9LVbhM2VHiY?rel=0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-5">
        <h2 class="text-primary">But what is code?</h2>
        <div class="video-text-right">
            <p>Learn about what code is by watching this cool video. You might be suprised to learn that code is all around you, in your home,in your parents car, on aeroplanes, in games consoles, in space and in your classroom on the whiteboard.</p>
            <p>Just as people all around the world speak different languages, there are also many different coding languages. Depending on what you want to do, you will choose a particular language. These languages do different things. For example, you probably
                heard about Minecraft right? Well that was written in a language called Java. And this webpage that you are looking at right now uses HTML,CSS and JavaScript. If you want to control physical devices in the real world you will probably
                use a language called C/C++.
                <h5><em> Video courtesy of Coding@CC4G  Thank you!</em></h5>
            </p>
        </div>
    </div>
</div>
<!-- What is a Computer Program -->
<div class="row">
    <div class="col-sm-7">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Nc31NAujTkA?rel=0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="video-text-right">
            <h2 class="text-primary">How Computer Programs Work.</h2>
            <p>This video explains what a computer program is and the various type of modern programming languages available tody. This website was built with HTML/CSS, JavaScript, Python and SQL. This series from DK Books is excellent, and a good start.
            </p>
            <p>
                <h5><em> Video courtesy of DK Books  Thank you!</em></h5>
            </p>
        </div>
    </div>
</div>

<!-- Getting Started -->
<div class="row">
    <div class="col-md-10">
        <h2 class="text-primary">So how do I get started?</h2>
        <p> If you want to get into coding, here are some suggestions. Just hover and click on any of the sections below: </p>
        <p>
            I would recommend joining your local CoderDojo. If you cannot find a Dojo near you, you can still get started by using free resources on the Internet. The sections below have links to learning sites. Now what language should you choose? Well that really
            depends on your experience level, por what thpe of Apps you wish to develop. If you have no coding experience, and you are 10 or under Scratch is a good start. It uses visual coding block to build cool animations, stories and games.
        </p>
        <p>
            But maybe you want to learn how to develop your own website? In that case you will need to start by learning HTML and CSS first, followed by JavaScript.
        </p>
        <p>
            If you want to develop Mobile Apps, MIT App Inventor is a good first choice for Android devices. It uses code blocks just like Scratch. Then when you want to develop more advanced Apps for Android, you can move onto Java.
        </p>
        <p>
            If you want to start on a good general programming language, then Python is an excellent choice. You can use Python for creating Games, controlling physical objects with tyhe Raspberry PI, and building the server side of Websites and doing cool maths
            and Science stuff.
        </p>
    </div>
</div>
<div class="text-center">
    <h4 class="bg-danger"><em> Click on any of the sections below to link to the relevant section!</em></h4>
</div>
<div class="list-group">
    <a href="https://coderdojo.com" target="_blank" class="list-group-item">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-12">
                <img src="{{ url_for('static', filename='images/about/coderdojo.jpg') }}" />
            </div>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <h3 class="list-group-item-heading">Join your local CoderDojo!</h3>
                <p class="list-group-item-text">
                    I have been attending Coderdojo for almost 2 years now. It's fantastic!! CoderDojo is a global movement of free, volunteer-led, community based programming clubs for young people. At a Dojo, young people, between 7 and 17, learn how to code, develop websites,
                    apps, programs, games and explore technology in an informal and creative environment. In addition to learning to code you will also meet other like minded kids. You can build an App or Website and enter it into Coolest Projects in
                    th RDS.
                </p>
            </div>
        </div>
    </a>
    <br />
    <a href="{{ url_for('main.scratch') }}" class="list-group-item">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-12">
                <img src="{{ url_for('static', filename='images/coding/scratch_cat.png') }}" />
            </div>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <h3 class="list-group-item-heading">Learn Scratch</h3>
                <p class="list-group-item-text">
                    Scratch is a programming language and an online community where children can program and share interactive media such as stories, games, and animation with people from all over the world. To get started kead on over to the Scratch Page, by clicking on
                    this text now. If you are wondering what you can create with Scratch, then check out some of these Projects here or my project Snapshot of our world.
                </p>
            </div>
        </div>
    </a>
    <br />
    <a href="{{ url_for('main.appInventor') }}" class="list-group-item">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-12">
                <img src="{{ url_for('static', filename='images/coding/app_inventor_for_coding_intro.png') }}" />
            </div>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <h3 class="list-group-item-heading">Learn how to code Mobile Apps.</h3>
                <p class="list-group-item-text">
                    App Inventor for Android is an open-source web application originally provided by Google, and now maintained by the <span data-toggle="tooltip" data-placement="top" title="Massachusetts Institute of Technology">MIT</span>.
                    It allows newcomers to computer programming to create software applications for the Android <span data-toggle="tooltip" data-placement="top" title="Operating System">OS</span>. It uses a graphical interface, very similar to Scratch and the StarLogo TNG user interface, which allows users to drag-and-drop visual objects to create an application that can run on Android devices.
                </p>
            </div>
        </div>
    </a>
    <br />
    <a href="{{ url_for('main.webCodeLearn') }}" class="list-group-item">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-12">
                <img src="{{ url_for('static', filename='images/coding/khanLogo.jpg') }}" />
            </div>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <h3 class="list-group-item-heading">Get Started with Khan Academy</h3>
                <p class="list-group-item-text">
                    Khan Academy is my favourite learning website. I have been using it for 3 years for Maths and Coding. Their motto is <em>You can Learn Anything</em> which I definitely believe in.
                    Click on this tab to show you the video I made.
                </p>
            </div>
        </div>
    </a>
    <br />
    <a href="{{ url_for('main.webCodeLearn') }}" target="_blank" class="list-group-item">
        <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-12">
                <img src="{{ url_for('static', filename='images/about/html5.svg') }}" />
                <img src="{{ url_for('static', filename='images/about/css3.svg') }}" />
            </div>
            <div class="col-md-11 col-sm-10 col-xs-12">
                <h3 class="list-group-item-heading">Learn how to create Webpages</h3>
                <p class="list-group-item-text">
                    Learn how to use HTML and CSS to make webpages. HTML is the markup language that you surround content with, to tell browsers about headings, lists, tables, etc. CSS is the stylesheet language that you style the page with, to tell browsers to change the
                    color, font, layout, and more.
                </p>
            </div>
        </div>
    </a>
    <br />
    <a href="https://www.khanacademy.org/computing/computer-programming/programming" target="_blank" class="list-group-item">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-12">
                <img src="{{ url_for('static', filename='images/coding/processing.png') }}" />
            </div>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <h3 class="list-group-item-heading">Learn the Processing JS language on Khan Academy</h3>
                <p class="list-group-item-text">
                    Processing JS is a JavaScript port of Processing, a programming language designed to write visualizations, images, and interactive content. It allows web browsers to display animations, visual applications, games and other graphical rich content without the need for a Java applet or Flash plugin.
                </p>
            </div>
        </div>
    </a>
    <br />
    <a href="{{ url_for('main.drawing') }}" class="list-group-item">
        <h3 class="list-group-item-heading ">Check out some of my Processing JS code that I created on Khan Academy</h3>
        <p class="list-group-item-text">
            If you are wondering what you can do with Processing JS then check out some of these cool animations that I made while learning Processing JS on KHAN Academy.
        </p>
    </a>
    <br />
    <a href="https://www.khanacademy.org/computing/computer-programming/html-css-js" target="_blank" class="list-group-item">
        <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-4">
                <img src="{{ url_for('static', filename='images/about/js.svg') }}" />
            </div>
            <div class="col-md-11 col-sm-10 col-xs-8">
                <h3 class="list-group-item-heading">Making webpages interactive with JavaScript</h3>
                <p class="list-group-item-text">
                    Once you've taken both Intro to JS and Intro to HTML/CSS, take this course to learn how use HTML/CSS with the JavaScript DOM API to make your webpages interactive.
                </p>
            </div>
        </div>
    </a>
    <br />
    <a href="{{ url_for('main.techPyLearn') }}" class="list-group-item">
        <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-4">
                <img src="{{ url_for('static', filename='images/about/python.svg') }}" />
            </div>
            <div class="col-md-11 col-sm-10 col-xs-8">
                <h3 class="list-group-item-heading">Learn the Python Language.</h3>
                <p class="list-group-item-text">
                    An interpreted language, Python has a design philosophy which emphasizes code readability (notably using whitespace indentation to delimit code blocks rather than curly braces or keywords), and a syntax which allows programmers to express concepts in fewer lines of code than possible in languages such as C++ or Java.
                </p>
            </div>
        </div>
    </a>
</div>
{% endblock %}