{% extends "base.html" %} {% block styles %} {{ super() }}
<style>
    hr.divider {
        background-color: #fff;
        border-top: 1px dashed #8c8b8b;
    }
    
    hr.top {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
    }
    
    .img-responsive {
        width: 80%;
    }

    .margin-minus-20 {
        margin-top: -20px;
    }
</style>
{% endblock %} {% block page_content %}
<div class="page-header text-center">
    <h1>Learning Resources</h1>
    <a role="button" class="btn btn-success" href="{{ url_for('main.techPyLearn') }}">Learning Resources</a></li>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.techPyThis') }}">This Website</a></li>
</div>

<div class="row">
    <div class="col-md-1 col-sm-2 col-xs-3">
        <img src="{{ url_for('static', filename='images/about/python.svg') }}">
    </div>
    <div class="col-md-11 col-sm-10 col-xs-9 margin-minus-20">
        <h2>What is Python?</h2>
        <p>
            An interpreted language, Python has a design philosophy which emphasizes code readability (notably using whitespace indentation to delimit code blocks rather than curly braces or keywords), and a syntax which allows programmers to express concepts in fewer lines of code than possible in languages such as C++ or Java.
        </p>
    </div>
</div>

<h2>How can I learn Python?</h2>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
        <img src="{{ url_for('static', filename='images/coding/code_academy.svg') }}">
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
        <p>
            The best place to start is definitely <a href="https://www.codecademy.com/learn/python/" target="_blank">Code Academy (Python Course)</a>. The Python course is a great introduction to both fundamental programming concepts and the Python programming language.
        </p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
        <img src="{{ url_for('static', filename='images/coding/tutorials_point.png') }}">
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
        <p>
            <a href="https://www.tutorialspoint.com/python/index.htm" target="_blank">Tutorials Point (Python Course)</a> is another good free learning website after you have finished Code Academy.
        </p>
    </div>
</div>
<br />
<p>Or you can buy one of the books below. I would recommend Hello World before Adventures in Minecraft.

<hr class="top">

<!-- Start of Books -->
<!-- Python Basics -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/book_reviews/python/python_basics.jpg') }}" class="img-responsive" />
        </div>
        <div class="col-sm-8 margin-top-20">
            <h3 class="text-primary">
                Python Basics
                <span class="rating">
                    <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span> 3/5
                </span>
            </h3>
            <p>
                This is a book by Cambridge University on Python 3 only <i class="fa fa-frown-o" aria-hidden="true"></i>. In the end you make a drawing program where you can draw on a canvas using Tkinter.
            </p>
        </div>
    </div>
    <br />
    <hr class="divider">
    <br />
    <!-- Hello World Second Edition -->
    <div class="row">
        <div class="col-sm-4 ">
            <img src="{{ url_for('static', filename='images/book_reviews/python/hello_world.jpg') }}" class="img-responsive img-rounded" />
        </div>
        <div class="col-sm-8 margin-top-20">
            <h3 class="text-primary">
                Hello World Second Edition
                <span class="rating">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span> 5/5
                </span>
            </h3>
            <p>
                This book has 26 chapters (which is a lot!) and you will first learn the basics of Python with Warren and Carter Sande and then move on to games like a virtual pet, hangman or a battle. This book covers Python 2.7 but does point out the some differences
                for Python 3 in some of the chapters.
            </p>
        </div>
    </div>
    <br />
    <hr class="divider">
    <br />
    <!-- Adventures In Minecraft -->
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/book_reviews/python/adventures_in_minecraft.jpg') }}" class="img-responsive" />
        </div>
        <div class="col-sm-8 margin-top-20">
            <h3 class="text-primary">
                Adventures in Minecraft
                <span class="rating">
                    <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span> 5/5
                </span>
            </h3>
            <p>
                In this book you will control Minecraft with Python. Create an alien invasion, a complete Crafty Crossing game and a new block friend in Minecraft with Python alone. Create clocks, pyramids and a complete city (Manhattan, America to be exact). You must
                use Python 2.7 to try out the code because the
                <span data-toggle="tooltip" data-placement="top" title="Application Programming Interface">API</span> to connect with Minecraft only works with Python 2.7 currently.
            </p>
        </div>
    </div>
    <br />
    <hr class="divider">
    <br />
    <!-- Automate the Boring Stuff with Python -->
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/book_reviews/python/automate_boring.jpg') }}" class="img-responsive" />
        </div>
        <div class="col-sm-8">
            <h3 class="text-primary">
                Automate the Boring Stuff with Python
                <span class="rating">
                    <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span> 4/5
                </span>
            </h3>
            <p>
                In this book you will learn ways to automate things that are very boring like if your friend is in America and you want to change the format of the dates. You can use Python to do all of this boring stuff! Python can also automatically fill in forms using
                Selenium.
            </p>
        </div>
    </div>
</div>
<hr class="top"> {% endblock %}