{% extends "base.html" %} {% block styles %} {{ super() }}
<style>
    hr.divider {
        background-color: #fff;
        border-top: 1px dashed #8c8b8b;
    }
    
    hr.top {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
    }
    
    .img-responsive {
        width: 80%;
    }
</style>
{% endblock %} {% block page_content %}
<div class="text-center">
    <h1>Learning Resources</h1>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.techPython') }}">Getting Started</a></li>
    <a role="button" class="btn btn-success" href="{{ url_for('main.techPyLearn') }}">Learning Resources</a></li>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.techPyThis') }}">This Website</a></li>
</div>

<hr class="top">

<!-- Start of Books -->
<!-- Python Basics -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/book_reviews/python/python_basics.jpg') }}" class="img-responsive" />
        </div>
        <div class="col-sm-8 margin-top-20">
            <h3 class="text-primary">
                Python Basics
                <span class="rating">
                    <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span> 3/5
                </span>
            </h3>
            <p>
                This is a book by Cambridge University on Python 3 only <i class="fa fa-frown-o" aria-hidden="true"></i>. In the end you make a drawing program where you can draw on a canvas using Tkinter.
            </p>
        </div>
    </div>
    <br />
    <hr class="divider">
    <br />
    <!-- Hello World Second Edition -->
    <div class="row">
        <div class="col-sm-4 ">
            <img src="{{ url_for('static', filename='images/book_reviews/python/hello_world.jpg') }}" class="img-responsive img-rounded" />
        </div>
        <div class="col-sm-8 margin-top-20">
            <h3 class="text-primary">
                Hello World Second Edition
                <span class="rating">
                    <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span> 4/5
                </span>
            </h3>
            <p>
                This book has 26 chapters (which is a lot!) and you will first learn the basics of Python with Warren and Carter Sande and then move on to games like a virtual pet, hangman or a battle. This book covers Python 2.7 but does point out the some differences
                for Python 3 in some of the chapters.
            </p>
        </div>
    </div>
    <br />
    <hr class="divider">
    <br />
    <!-- Adventures In Minecraft -->
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/book_reviews/python/adventures_in_minecraft.jpg') }}" class="img-responsive" />
        </div>
        <div class="col-sm-8 margin-top-20">
            <h3 class="text-primary">
                Adventures in Minecraft
                <span class="rating">
                    <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span> 5/5
                </span>
            </h3>
            <p>
                In this book you will control Minecraft with Python. Create an alien invasion, a complete Crafty Crossing game and a new block friend in Minecraft with Python alone. Create clocks, pyramids and a complete city (Manhattan, America to be exact). You must
                use Python 2.7 to try out the code because the
                <span data-toggle="tooltip" data-placement="top" title="Application Programming Interface">API</span> to connect with Minecraft only works with Python 2.7 currently.
            </p>
        </div>
    </div>
    <br />
    <hr class="divider">
    <br />
    <!-- Automate the Boring Stuff with Python -->
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/book_reviews/python/automate_boring.jpg') }}" class="img-responsive" />
        </div>
        <div class="col-sm-8">
            <h3 class="text-primary">
                Automate the Boring Stuff with Python
                <span class="rating">
                    <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span> 4/5
                </span>
            </h3>
            <p>
                In this book you will learn ways to automate things that are very boring like if your friend is in America and you want to change the format of the dates. You can use Python to do all of this boring stuff! Python can also automatically fill in forms using
                Selenium.
            </p>
        </div>
    </div>
</div>
<hr class="top"> {% endblock %}