{% extends "base.html" %} {% block page_content %}
<div class="text-center">
    <h1>Python on this Website</h1>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.techPython') }}">Getting Started</a></li>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.techPyLearn') }}">Learning Resources</a></li>
    <a role="button" class="btn btn-success" href="{{ url_for('main.techPyThis') }}">This Website</a></li>
    <hr />
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus velit velit, eget tempor felis pellentesque eu. Pellentesque aliquam consequat ultrices. Suspendisse potenti. Aenean sollicitudin eros vel turpis efficitur consequat. Aliquam malesuada
    mollis dui, ut scelerisque enim fermentum vitae. Fusce vitae euismod dui. Suspendisse nec lectus scelerisque, consectetur sapien facilisis, luctus augue. Proin vitae lorem molestie ipsum condimentum bibendum. Vivamus vitae metus eget lectus efficitur
    laoreet. Mauris pellentesque felis id nisi laoreet ullamcorper. Fusce rutrum velit vel nisi sodales, bibendum consectetur dui fringilla. Sed a tincidunt leo. Vestibulum nec volutpat risus.
</p>
<p>
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam sed nunc finibus, malesuada odio ac, vulputate lorem. Vestibulum non tincidunt ex, ut imperdiet mi. Vivamus et ornare nulla, eget dictum nisl. Pellentesque
    porttitor nisi a mauris efficitur malesuada. Vestibulum blandit faucibus tortor, a mattis erat ullamcorper tincidunt. Duis euismod risus dictum urna varius tristique. Pellentesque euismod lobortis molestie. Donec enim mauris, efficitur id lectus id,
    rutrum mollis odio. Donec ullamcorper elit in risus rhoncus, eu accumsan lectus finibus. Praesent ut tristique arcu.
</p>
<p>
    Morbi mattis ligula nec est dignissim vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In laoreet at ligula at dignissim. Quisque tincidunt quis nisi et volutpat. Aenean aliquet odio eget lectus imperdiet,
    eu convallis sapien dignissim. Praesent venenatis vehicula risus nec convallis. Sed in hendrerit mi. Morbi consequat viverra semper. Donec ut tortor vitae lorem mattis egestas id nec mi. Mauris ac pellentesque ex, ac sodales augue. Donec mollis diam
    eu enim mollis pretium. Pellentesque molestie diam et ligula sollicitudin aliquam. Quisque varius, turpis at aliquam vestibulum, metus enim lobortis purus, ut suscipit lorem augue id justo. Sed cursus maximus orci in suscipit. Quisque dignissim a
    massa ac cursus.</p>
<p>
    Donec sed blandit mauris. Nullam viverra in magna ac sollicitudin. Aliquam finibus elit in auctor mollis. Praesent vestibulum ornare diam at congue. Morbi aliquet urna nec aliquam rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
    ultricies risus non nisl egestas faucibus. Vivamus dapibus erat vel quam elementum viverra. Morbi ut fermentum nibh.</p>
<p>
    Donec ut lorem sed est vulputate mattis. Suspendisse sem tellus, rutrum in lectus a, egestas lacinia nunc. Curabitur mollis fermentum urna id sodales. Suspendisse eleifend libero eu nisl pulvinar, sit amet ultricies leo condimentum. Nulla tincidunt tincidunt
    tristique. Duis in diam ultrices libero fermentum vulputate. In tincidunt purus a velit vestibulum, at gravida dolor eleifend. Morbi congue mauris eget vehicula euismod.</p>
<p>
    Suspendisse gravida sollicitudin dapibus. Sed sed arcu eros. Donec imperdiet ipsum ut ornare gravida. Aenean vel nibh nec felis iaculis rutrum eu eu magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis tempor
    libero libero, ut dapibus erat dapibus sed. Suspendisse faucibus ultrices justo congue posuere. Donec aliquam sed odio nec iaculis. Aenean nisi nunc, porta eget faucibus at, lacinia quis velit. Proin mollis iaculis est, ac suscipit erat fringilla
    eu. Fusce nec nunc ipsum. In tellus ante, facilisis quis urna ac, scelerisque malesuada enim.</p>
<p>
    Cras eget nunc ut sapien rhoncus pellentesque non a odio. Sed ac maximus leo. Phasellus dapibus, eros et sollicitudin imperdiet, augue diam tempus massa, vel pellentesque purus elit vel tortor. In tellus turpis, viverra vitae lectus convallis, euismod
    molestie massa. Phasellus eleifend in lectus vitae porttitor. Nam pretium ante non purus interdum pulvinar. Aenean volutpat vitae neque sed tristique. Nam pharetra ornare lacus a efficitur. Suspendisse convallis, tortor sit amet scelerisque maximus,
    neque lorem volutpat turpis, a scelerisque nisl nisl at ligula. Nunc a blandit libero. Morbi non convallis lorem. Pellentesque porttitor mattis quam, a faucibus ex condimentum eget. In vitae eros justo. Aenean suscipit turpis dolor, eu aliquet ex
    dictum et. Phasellus tincidunt malesuada elit, suscipit lacinia nisl gravida at. Suspendisse potenti.</p>
<p>
    Vestibulum consectetur est nulla, sit amet porttitor enim mattis non. Aliquam sem enim, gravida a fringilla id, elementum vel felis. Integer pulvinar nisi sed mauris ullamcorper tincidunt. Nunc at nunc pretium, dignissim purus vel, efficitur quam. Mauris
    volutpat ligula a turpis tristique, in condimentum libero varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ante nulla, hendrerit at ultrices ac, posuere imperdiet felis. Sed lectus massa, sagittis
    in dignissim et, convallis id leo. Vivamus enim ex, facilisis vel velit eu, dapibus sollicitudin ante. Cras posuere ante metus, ut condimentum velit pellentesque vel.</p>
<p>
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras et commodo dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed commodo malesuada metus, id porttitor ante ullamcorper
    gravida. Nullam suscipit condimentum magna, at consequat quam facilisis sed. Donec iaculis cursus eros, in consectetur leo posuere vitae. Phasellus libero tellus, fringilla quis suscipit quis, scelerisque eu ex. Aliquam semper varius blandit. Sed
    sagittis aliquet quam. Nunc tempus neque id quam maximus, et sollicitudin dui consequat. Sed viverra nisi nibh, ut aliquam nulla ultrices quis. Morbi ac consequat mauris, euismod pretium sapien. Duis scelerisque sapien lacus, malesuada vulputate ipsum
    consectetur nec. Donec vel pellentesque nunc, a condimentum elit. Cras gravida condimentum elit, vitae placerat est. Vestibulum sollicitudin libero ut justo venenatis ornare.</p>
<p>
    Donec a sapien augue. Nullam blandit nunc sed mi tempus pretium. Nulla nec auctor justo. Morbi eget ipsum eu dolor rhoncus imperdiet. Praesent luctus felis purus, eget lobortis nisl interdum nec. Suspendisse ut lectus sit amet sem lacinia aliquet. Morbi
    porttitor arcu orci, vitae rutrum nulla hendrerit in. Quisque eget dui eu ante porta varius ut quis purus. Nunc tempus lacus eget lectus convallis cursus. Aliquam bibendum convallis justo, semper imperdiet augue placerat eget. Nunc in odio nec nisi
    aliquam cursus. Duis eu est id massa facilisis porta. Pellentesque risus libero, convallis a dui non, venenatis tempus sem. Suspendisse ac tortor non dui efficitur euismod. Suspendisse dignissim orci ligula, ut efficitur enim aliquet ac. Pellentesque
    sed venenatis massa.</p>
<p>
    Ut ac arcu tempus, vulputate augue quis, pharetra risus. Proin at interdum neque. Aliquam eu vulputate dolor. Morbi sed suscipit neque. Duis fringilla lectus eget nibh cursus vulputate. Morbi consectetur tellus sit amet hendrerit cursus. Suspendisse egestas
    massa sed odio ultricies pulvinar. Ut nec orci efficitur orci mollis consectetur ultricies consequat mi. Nulla rutrum dui a sapien finibus, mattis ultricies velit congue. Mauris in semper nisl, in fermentum erat. Suspendisse vulputate vulputate porta.</p>
<p>
    Maecenas vulputate laoreet ipsum, pellentesque pretium magna. Mauris maximus condimentum ante, sit amet lacinia odio lobortis eu. Nulla metus lorem, volutpat porttitor felis at, vehicula tincidunt velit. Vestibulum finibus eleifend velit a dapibus. Nullam
    feugiat, leo eleifend pharetra tempus, neque augue auctor libero, at accumsan sem augue et enim. Phasellus et iaculis metus. Vestibulum posuere ligula tincidunt risus ultrices euismod. Nunc ante massa, ultrices at dictum non, vehicula a urna.</p>
<p>
    Proin a luctus magna. Donec id mauris tincidunt, aliquam nibh a, varius nisi. Vivamus luctus consequat mauris sit amet rhoncus. Sed aliquet suscipit posuere. Morbi consectetur, ex congue lacinia dictum, ligula lorem molestie erat, eget faucibus risus
    sapien luctus eros. Duis ornare arcu at nisi tincidunt, eget ultrices diam dapibus. Nam in diam eget libero facilisis venenatis sed ut dui. Nunc ac convallis lectus.</p>
<p>
    Vivamus vel lobortis tortor. In ac massa ultrices, malesuada elit quis, venenatis leo. Cras magna ex, sodales sed commodo at, rhoncus vitae massa. Aenean vehicula turpis in justo porta, vel tincidunt neque gravida. Ut fringilla mi ut facilisis maximus.
    Phasellus id posuere nisl. Donec tempor eget nulla blandit convallis.</p>
<p>
    Cras varius scelerisque ligula, vitae posuere leo lobortis quis. Mauris euismod tincidunt enim, vitae pulvinar sapien tristique at. Duis eu leo at nibh bibendum tincidunt. Suspendisse ac elit quis libero porta pulvinar eu ut nisi. Quisque imperdiet eros
    ut lorem consectetur hendrerit. Duis vitae arcu vehicula, vulputate enim sed, ultricies libero. Curabitur nisl tortor, hendrerit et suscipit id, facilisis et ligula. Nulla volutpat, odio finibus semper convallis, justo tortor molestie tellus, id finibus
    magna tortor ultricies ipsum. Duis ultricies ipsum a felis gravida, at tempor nunc volutpat. Mauris eros metus, congue non interdum a, dapibus non diam.</p>
{% endblock %}