{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        @media (min-width: 768px) {
            .what-is-app-inventor {
                margin-top: -20px;
            }

            #getting-started {
                margin-top: -5px !important;
            }
        }
        
        #getting-started {
            text-shadow: 3px 3px 4px grey;
            margin-top: 20px;
        }

        #app-inventor-vid {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block page_content %}
<div class="text-center">
    <h1>MIT App Inventor - Getting Started</h1>
    <a role="button" class="btn btn-success" href="{{ url_for('main.appInventor') }}">Getting Started</a>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.appInventorProjects') }}">Projects</a></li>
    <hr />
</div>
<p class="bg-danger">You cannot use an <span class="glyphicon glyphicon-apple"></span> Apple device with App Inventor I&#39;m afraid.</p>
<div class="row">
    <div class="col-sm-2 col-xs-12">
        <a href="http://ai2.appinventor.mit.edu/" target="_blank" title="App Inventor Logo">
            <img src="{{ url_for('static', filename='images/coding/app_inventor.png') }}" class="img-responsive" alt="App Inventor Logo">
        </a>
    </div>
    <div class="col-sm-10 col-xs-12">
        <div class="what-is-app-inventor">
            <h2>What is <a href="http://ai2.appinventor.mit.edu/" target="_blank">App Inventor</a>?</h2>
            <p>
                App Inventor lets you develop applications for Android devices using a web browser and either a connected phone or an emulator.
                The App Inventor servers store your work and help you keep track of your projects. It is kind of like <a href="{{ url_for('main.scratch') }}">Scratch</a>
                but for Android devices.
            </p>
        </div>
    </div>
</div>
<div class="row" id="app-inventor-vid">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yNdVSsW-2bo?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <h2 id="getting-started" class="text-primary">Getting Started</h2>
        <p>
            This is a video by MIT App Inventor showing you how to make a MagicTrick app. In this video you will make an app that makes a rabbit appear when you touch the hat or shake the device.
            For this video you will need a laptop and a phone or tablet.
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Setup Instructions: <a href="http://appinventor.mit.edu/explore/ai2/setup.html" target="_blank">appinventor.mit.edu/explore/ai2/setup.html</a></li>
                <li class="list-group-item list-group-item-success">You can find the images and sound here: <a href="http://appinventor.mit.edu/explore/media-library.html">appinventor.mit.edu/explore/media-library.html</a></li>
                <li class="list-group-item list-group-item-success">Here is the PDF version of the tutorial: <a href="http://explore.appinventor.mit.edu/sites/all/files/teachingappcreation/unit1/MagicTrick.pdf">explore.appinventor.mit.edu/sites/all/files/teachingappcreation/unit1/MagicTrick.pdf</a></li>
            </ul>
            <br />
            <small><em>Video courtesy of MIT App Inventor. Thank you!</em></small>
        </p>
    </div>
</div>
{% endblock %}