{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/khanProjStyle.css') }}">
    <style>
        
        .canvas-caption {
            display: inline-block;
            text-align: center;
        }
        
        .no-center {
            text-align: left;
        }
    </style>
{% endblock %}

{% block page_content %}
    <h1>Some Animation Projects that I made on KHAN Academy</h1>
    <ul class="grid-nav">
        <li><a href="{{ url_for('.animations') }}" class="active">Animation</a></li>
        <li><a href="{{ url_for('.mouseOver') }}">Mouse Over</a></li>
        <li><a href="{{ url_for('.drawing') }}">Drawings</a></li>
    </ul>
    <div class="canvas-caption">
        <h3>Parting Clouds</h3>
        <canvas id="mycanvas"></canvas>
        <div class="no-center">
            <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#parting-clouds" href="{{ url_for('static', filename='getTheCode/partingClouds.html') }}">Get the Code!!</button>
            <!-- Modal -->
            <div class="modal fade" id="parting-clouds" role="dialog">
                <div class="modal-dialog modal-md">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Sorry the file was probably moved.</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="canvas-caption">
        <h3>Public Transport</h3>
        <canvas id="mycanvas2"></canvas>
        <div class="no-center">
            <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#transport" href="{{ url_for('static', filename='getTheCode/publicTransport.html') }}">Get the Code!!</button>
            <!-- Modal -->
            <div class="modal fade" id="transport" role="dialog">
                <div class="modal-dialog modal-md">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Sorry the file was probably moved.</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="canvas-caption">
        <h3>Bouncing Ball</h3>
        <canvas id="mycanvas3"></canvas>
        <div class="no-center">
            <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#bouncy" href="{{ url_for('static', filename='getTheCode/bouncyBall.html') }}">Get the Code!!</button>
            <!-- Modal -->
            <div class="modal fade" id="bouncy" role="dialog">
                <div class="modal-dialog modal-md">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Sorry the file was probably moved.</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="canvas-caption">
        <h3>Animal Attack (You can tell!)</h3>
        <canvas id="mycanvas4"></canvas>
        <div class="no-center">
            <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#flashyAnimal" href="{{ url_for('static', filename='getTheCode/flashyAnimalAttack.html') }}">Get the Code!!</button>
            <!-- Modal -->
            <div class="modal fade" id="flashyAnimal" role="dialog">
                <div class="modal-dialog modal-md">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Sorry the file was probably moved.</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- run all the javascript stuff -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.2/clipboard.min.js"></script>
    <!-- Include the processing.js commands -->
    <script src="{{ url_for('static', filename='js/processing-1.3.6.min.js') }}"></script>
    <!-- The actual source code for your program -->
    <script src="{{ url_for('static', filename='js/Clouds.js') }}"></script>
    <script src="{{ url_for('static', filename='js/publicTransport.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bouncyBall.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flashyAnimalAttack.js') }}"></script>
    <script type="application/javascript">
        var canvas = document.getElementById("mycanvas"); //get the canvas that processingjs will use
        var processingInstance = new Processing(canvas, sketchProc); //pass the function sketchProc (defined in Clouds.js) to Processing's constructor.
        var canvas2 = document.getElementById("mycanvas2"); //get the canvas that processingjs will use
        var processingInstance3 = new Processing(canvas2, sketchProc2); //pass the function sketchProc (defined in publicTransport.js) to Processing's constructor.
        var canvas3 = document.getElementById("mycanvas3"); //get the canvas that processingjs will use
        var processingInstance4 = new Processing(canvas3, sketchProc3); //pass the function sketchProc (defined in bouncyBall.js) to Processing's constructor.
        var canvas4 = document.getElementById("mycanvas4"); //get the canvas that processingjs will use
        var processingInstance4 = new Processing(canvas4, sketchProc4); //pass the function sketchProc (defined in flasyAnimalAttack.js) to Processing's constructor.
        (function() {
            new Clipboard('#copy-button');
        })();
    </script>
{% endblock %}