{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/khanProjStyle.css') }}">
        <style>
        .img-surround {
            border: 1px solid #ddd;
            padding: 10px;
            background-color: floralwhite;
        }
        
        img {
            border: 1px solid;
            padding: 0px;
        }
        
        button {
            margin: 8px;
        }
    </style>
{% endblock %}

{% block page_content %}
    <h1>Some of my Khan Processing Projects</h1>
    <ul class="grid-nav">
        <li><a href="{{ url_for('.animations') }}">Animation</a></li>
        <li><a href="{{ url_for('.mouseOver') }}">Mouse Over</a></li>
        <li><a href="{{ url_for('.drawing') }}" class="active">Drawings</a></li>
    </ul>
       <div class="container">
        <div class="col-lg-3 col-md-4 col-xs-6 text-center img-surround">
            <h4>Animal Attack</h4>
            <img src="/static/images/tech/khan_static_pictures/animalAttack.png" class="img-responsive  center-block" />
            <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#animal-attack-static" href="{{ url_for('static', filename='getTheCode/staticAnimalAttack.html') }}">Get the Code!!</button>
            <!-- Modal -->
            <div class="modal fade no-center" id="animal-attack-static" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content text-left">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Sorry the file was probably moved.</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-3 col-md-4 col-xs-6 text-center img-surround">
                <h4>Brown Bear Eyes</h4>
                <img src="/static/images/tech/khan_static_pictures/brownBearEyes.png" class="img-responsive  center-block" />
                <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#brown-bear-eyes" href="{{ url_for('static', filename='getTheCode/brownBearEyes.html') }}">Get the Code!!</button>
                <!-- Modal -->
                <div class="modal fade" id="brown-bear-eyes" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content text-left">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Error</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Sorry the file was probably moved.</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            <div class="col-lg-3 col-md-4 col-xs-6 text-center img-surround">
                <h4>Build a House</h4>
                <img src="/static/images/tech/khan_static_pictures/buildAHouse.png" class="img-responsive  center-block" />
                <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#build-a-house" href="{{ url_for('static', filename='getTheCode/buildAHouse.html') }}">Get the Code!!</button>
                <!-- Modal -->
                <div class="modal fade" id="build-a-house" role="dialog">
                    <div class="modal-dialog modal-md">

                        <!-- Modal content-->
                        <div class="modal-content text-left">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Error</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Sorry the file was probably moved.</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 text-center img-surround">
                <h4>Double Rainbow</h4>
                <img src="/static/images/tech/khan_static_pictures/doubleRainbow.png" class="img-responsive  center-block" />
                <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#double-rainbow" href="{{ url_for('static', filename='getTheCode/doubleRainbow.html') }}">Get the Code!!</button>
                <!-- Modal -->
                <div class="modal fade" id="double-rainbow" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content text-left">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Error</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Sorry the file was probably moved.</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 text-center img-surround">
                <h4>Fish Tank</h4>
                <img src="/static/images/tech/khan_static_pictures/fishTank.png" class="img-responsive  center-block" />
                <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#fish-tank" href="{{ url_for('static', filename='getTheCode/fishTank.html') }}">Get the Code!!</button>
                <!-- Modal -->
                <div class="modal fade" id="fish-tank" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content text-left">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Error</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Sorry the file was probably moved.</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 text-center img-surround">
                <h4>Minecraft Bookshelf</h4>
                <img src="/static/images/tech/khan_static_pictures/MINECRAFTBOOKSHELF.png" class="img-responsive  center-block"  />
                <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#mc" href="{{ url_for('static', filename='getTheCode/minecraftBookshelf.html') }}">Get the Code!!</button>
                <!-- Modal -->
                <div class="modal fade" id="mc" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content text-left">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Error</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Sorry the file was probably moved.</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 text-center img-surround">
                <h4>Moles in the Holes</h4>
                <img src="/static/images/tech/khan_static_pictures/molesInHolesNoImg.png" class="img-responsive  center-block" />
                <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#mole" href="{{ url_for('static', filename='getTheCode/mole.html') }}">Get the Code!!</button>
                <!-- Modal -->
                <div class="modal fade" id="mole" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content text-left">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Error</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Sorry the file was probably moved.</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 text-center img-surround">
                <h4>Frog</h4>
                <img src="/static/images/tech/khan_static_pictures/frog.png" class="img-responsive  center-block"  />
                <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#frog" href="{{ url_for('static', filename='getTheCode/frog.html') }}">Get the Code!!</button>
                <!-- Modal -->
                <div class="modal fade" id="frog" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content text-left">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Error</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Sorry the file was probably moved.</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.2/clipboard.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('body')
                .hide()
                .fadeIn(1500);
        });
        (function() {
            new Clipboard('#copy-button');
        })();
    </script>
{% endblock %}