{% extends "base.html" %} {% block styles %} {{ super() }}
<style type="text/css">
    .vid {
        margin-top: 20px;
    }
</style>
{% endblock %} {% block page_content %}
<div class="text-center">
    <h1>Introduction</h1>
    <a role="button" class="btn btn-success" href="{{ url_for('main.arduinoStart') }}">Getting Started</a>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.arduinoLearn') }}">Learning Resources</a>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.arduinoProject') }}">Projects</a>
    <hr />
</div>
<div class="row">
    <div class="col-sm-2 col-xs-12">
        <a href="https://www.arduino.cc/" target="_blank" title="Arduino Logo">
            <img src="{{ url_for('static', filename='images/hardware/arduino_logo.png') }}" class="img-responsive" alt="Arduino Logo">
        </a>
    </div>
    <div class="col-sm-10 col-xs-12">
        <h2>What is <a href="https://www.arduino.cc" target="_blank">Arduino</a>?</h2>
        <p>
            Arduino is an open source, computer hardware and software company, project, and user community that designs and manufactures microcontroller kits for building digital devices and interactive objects that can sense and control objects in the physical world.
        </p>
    </div>
</div>
<div class="row vid">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JkbAz5osHuQ?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <h2 class="text-primary margin-top-10">Introduction to Arduino</h2>
        <p>
            This is an unfinished introduction to Arduino. This first part explains what an Arduino is and how to download the software. I need to make a second video and show how the IDE works, and how to download code. Coming soon!
        </p>
    </div>
</div>
<div class="row vid">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Iy7DY2UbHvM?rel=0"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary margin-top-10">Arduino Basic breadboarding</h2>
            <p>How to breadboard simple electronic circuits from a schematic.</p>
            <h5><em>Video Courtesy of eTechTom. Thank you!</em></h5>
        </div>
    </div>
</div>
{% endblock %}