{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import "_macros.html" as macros %} {% block styles %} {{ super() }}
<link rel="stylesheet" type="text/css" href="https://rawgit.com/lodev09/bootstrap-markdown/master/css/bootstrap-markdown.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pre_codehilite.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/snippet_and_posts.css') }}" />
<style type="text/css">
    @media (min-width: 768px) {
        .margin-right {
            margin-right: 5px;
        }
    }
</style>{% endblock %} {% if current_user.is_authenticated %} {% set logged_in = True %} {% else %} {% set logged_in = False %} {% endif %} {% block page_content %}
<div class="page-header">
    {% if logged_in %}
    <button type="button" class="btn btn-success pull-right pull-xs-none" id="create-new-code-snippet-btn" data-toggle="modal" data-target="#create-new-code-snippet">Create A New Code Snippet</button>
    <a class="btn btn-success pull-right pull-xs-none margin-right" href="{{ url_for('snippets.someonesSnippets', username=current_user.username) }}">My Snippets</a> {% endif %}
    <h1>Welcome to the Code Snippet Sharing{% if logged_in %}, {{ current_user.username|capitalize }}{% endif %}!</h1>
    {% if logged_in %}
    <!-- Modal -->
    <div class="modal fade no-center" id="create-new-code-snippet" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create A New Code Snippet</h4>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(snippet_form, id="snippet-form", button_map={'submit': 'success'}) }}
                </div>
            </div>

        </div>
    </div>
    {% endif %}
</div>
<h2>Search Snippets</h2>
{{ wtf.quick_form(search_form, id='search-form', button_map={'submit': 'success'}) }} {% if filtered %}
<h2 class="snippets">Search Results for "{{ request.args.get("q") }}"</h2>
{% else %}
<h2>Snippets</h2>
{% endif %}
<hr /> {% if snippets|length > 0 %}
<ul id="snippets" class="media-list">
    {% for snippet in snippets %}
    <li class="snippet media">
        <div class="media-left">
            <a href="{{ url_for('blog.profile', username=snippet.author.username) }}">
                <img src="{{ snippet.author.getAvatar(size=100) }}" class="img-circle media-object" />
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading"><a href="{{ url_for('snippets.snippet', id=snippet.id) }}">{{ snippet.title }} written in {{ checkLanguage(snippet) }}</a></h2>
            By <a href="{{ url_for('blog.profile', username=snippet.author.username) }}">{{ snippet.author.username|capitalize }}</a>
            <br />
            <span class="glyphicon glyphicon-time"></span> {{ moment(snippet.date_posted).format('MMMM Do YYYY, h:mm:ss a') }} {% if not snippet.summary == snippet.body %}
            <div class="less">{{ snippet.summary_html|safe }}
                <p>More content on this snippet...</p>
            </div>
            <div class="more">{{ snippet.body_html|safe }}
                <p>This is the end of the snippet.</p>
            </div>
            <button class="btn btn-sm btn-info show-more" id="{{ snippet.id }}">Show more &raquo;</button> {% else %}
            <div>{{ snippet.body_html|safe }}
                <p>This is the end of the snippet.</p>
            </div>
            {% endif %}
            <div class="snippet-controls pull-right">
                <a href="{{ url_for('snippets.snippet', id=snippet.id) }}#comments"><span class="label label-primary">{{ snippet.comments.count() }} {% if snippet.comments.count() == 1 %}Comment{% else %}Comments{% endif %}</span></a> {% if current_user.username
                == snippet.author.username or current_user.admin() %}
                <a href="{{ url_for('snippets.edit', id=snippet.id) }}"><span class="label label-primary">Edit</span></a> {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %} {% if filtered %}
<p>No results.</p>
{% else %}
<p>No snippets have been created yet.</p>
{% endif %} {% endif %} {{ macros.addPagination(pagination, '.index') }} {% endblock %} {% block scripts %} {{ super() }}
<script src="https://rawgit.com/lodev09/bootstrap-markdown/master/js/bootstrap-markdown.js"></script>
<script data-require="marked@*" data-semver="0.3.1" src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.js"></script>
{% if logged_in %}
<script>
    $textarea = $('textarea');
    $textarea.attr('data-provide', 'markdown');
    $textarea.attr('placeholder', 'Please put your code here using Markdown or the buttons above.');
    $textarea.attr('rows', 12);

    $("#cancel").detach();

    if ($("#snippet-form .form-group").hasClass('has-error')) {
        $("#create-new-code-snippet-btn").click();
        $("#search-form .form-group .help-block").detach();
        $("#search-form .form-group").removeClass('has-error');
    }
</script>{% endif %} {% if filtered %}
<script>
    $('html, body').animate({
        scrollTop: $("#snippets").offset().top - 220
    }, 1500);
</script>
{% endif %}
<script>
    $(".more").hide();

    $(".snippet button").each(function() {
        $(this).on("click", function() {
            $this = $(this);
            if ($this.hasClass("show-more")) {
                $this.html("Show less &raquo;");
                $this.removeClass("show-more");
                $this.siblings("div.less").hide();
                $this.prev().slideDown(1000);
            } else {
                $this.html("Show more &raquo;");
                $this.addClass("show-more");
                $this.siblings("div.less").slideDown(1000);
                $this.prev().hide();
            }
        });
    });
    
    $(".snippet .media-body img").addClass("img-responsive");
</script>
{{ moment.include_moment() }} {% endblock %}