{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        .margin-top {
            margin-top: 20px;
        }

        @media (max-width: 768px) {
            .phone-margin-top {
                margin-top: 20px;
            }
        }
    </style>
{% endblock %}

{% block page_content %}
<div class="text-center page-header">
    <h1>Website Coding - Learning Resources</h1>
</div>
<h2>My top 3 suggestions for learning HTML, CSS and JavaScript:</h2>
<div class="row margin-top">
    <div class="col-sm-7">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MRyN5UUUtAo?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-2 phone-margin-top">
        <img src="{{ url_for('static', filename='images/coding/khanLogo.jpg') }}" />
    </div>
    <div class="col-xs-12">
        <h2>Khan Academy</h2>
        <p>
            Khan Academy is my favourite learning website. I have been using it for 3 years for Maths and Coding. Their motto is <em>You can Learn Anything</em> which I definitely believe in.
        </p>
    </div>
</div>
<div class="row margin-top">
    <div class="col-sm-4">
        <img src="{{ url_for('static', filename='images/coding/html_and_css.jpg') }}" />
    </div>
    <div class="col-sm-8 margin-top-20">
        <h2>
            HTML and CSS Book
            <span class="rating">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span> 4/5
            </span>
        </h2>
        <p>
            This is a book by Jon Duckett that teaches you how program HTML and CSS in a nice way.
        </p>
    </div>
</div>
<div class="row margin-top">
    <div class="col-sm-4">
        <img src="{{ url_for('static', filename='images/coding/javascript_and_jquery.png') }}" />
    </div>
    <div class="col-sm-8 margin-top-20">
        <h2>
            JavaScript and jQuery Book
            <span class="rating">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span> 4/5
            </span>
        </h2>
        <p>
            This is a book by Jon Duckett that teaches you how program JavaScript and jQuery in a nice way (you get to make a slider and a modal window!).
        </p>
    </div>
</div>
{% endblock %}