{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/lodev09/bootstrap-markdown/master/css/bootstrap-markdown.min.css">
{% endblock %}

{% block page_content %}
    <h1>Edit Comment for post {{ comment.post.title }}</h1>
    {{ wtf.quick_form(form, button_map={'submit': 'success', 'cancel': 'danger'}) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://rawgit.com/lodev09/bootstrap-markdown/master/js/bootstrap-markdown.js"></script>
    <script data-require="marked@*" data-semver="0.3.1" src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.js"></script>
    <script>
        $('textarea').attr('data-provide', 'markdown');
        $("#submit").addClass("btn btn-success");
    </script>
{% endblock %}