{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>Login</h1>
    </div>
    {{ wtf.quick_form(form, button_map={'submit': 'success', 'cancel': 'danger'}) }}
    <hr />
    <p>Forgotten your password? <a href="{{ url_for('blog.resetPasswordRequest') }}">Click here</a>.</p>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $("#cancel").on("click", function() {
            window.location.assign("{{ session['last_url'] }}");
        });
    </script>
{% endblock %}