{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style>
        .btn.btn-info {
            margin-top: 5px;
        }
    </style>
{% endblock %}

{% block page_content %}
    
    <div class="page-header">
        <h1>{{ user.username|capitalize }}&#39;s Profile</h1>
    </div>
    <p>
        <img class="img-circle pull-left" src="{{ user.getAvatar(size=256) }}" />{% if user.about_me %}{{ user.about_me }}{% else %}No information about {{ user.username|capitalize }} has been given.{% endif %}
        <br />Member since {{ moment(user.date_registered).format('DD/MM/YYYY') }}.
        <br />Last seen {{ moment(user.last_seen).fromNow(refresh=True) }}.
        <br /><a class="btn btn-sm btn-info" href="{{ url_for('blog.posts', username=user.username) }}"><span class="badge">{{ user.posts.filter_by(published=True).count() }}</span> public {% if user.posts.filter_by(published=True).count() != 1 %}posts{% else %}post{% endif %}.</a>
        <br /><a class="btn btn-sm btn-info" href="{{ url_for('snippets.someonesSnippets', username=user.username) }}"><span class="badge">{{ user.snippets.count() }}</span> {% if user.snippets.count() != 1 %}snippets{% else %}snippet{% endif %}.</a>
        <br /><a class="btn btn-sm btn-info" href="{{ url_for('projects.someonesProjects', username=user.username) }}"><span class="badge">{{ user.projects.count() }}</span> {% if user.projects.count() != 1 %}projects{% else %}project{% endif %}.</a>
    </p>
    {% if current_user.username == user.username %}
    <a href="{{ url_for('blog.editProfile') }}" class="btn btn-primary">Edit Profile</a>
    {% elif current_user.admin() %}
    <a href="{{ url_for('blog.editProfileAdmin', id=user.id) }}" class="btn btn-success">Edit Profile</a>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}