{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    {% include "_img_left.html" %}
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{{ user.username|capitalize }}&#39;s Profile</h1>
    </div>
    <p>
        <img class="img-float-left" src="{{ user.getAvatar(size=256) }}" />
        {% if user.about_me %}
        {{ user.about_me }}
        {% else %}
        No information about {{ user.username }} has been given.
        {% endif %}
        <br />
        Member since {{ moment(user.date_registered).format('D/MM/YYYY') }}.
        <br />
        Last seen {{ moment(user.last_seen).fromNow(refresh=True) }}.
    </p>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}