{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/lodev09/bootstrap-markdown/master/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/snippet_and_posts.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pre_codehilite.css') }}" />
{% endblock %}

{% if current_user.is_authenticated %}
    {% set logged_in = True %}
{% else %}
    {% set logged_in = False %}
{% endif %}

{% block page_content %}
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-9">
        <div class="page-header">
            <h1>{{ user.username|capitalize }}'s posts</h2>
        </div>
        {% if posts %}
        <ul id="posts" class="media-list">
            {% for post in posts %}
            {% if post.published or post.author == current_user %}
            <li class="post media">
                <div class="pull-left">
                    <a href="{{ url_for('blog.profile', username=post.author.username) }}">
                        <img class="img-circle media-object" src="{{ post.author.getAvatar(size=60) }}">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading"><a href="{{ url_for('blog.post', id=post.id) }}">{{ post.title }}</a></h2>
                    <a href="{{ url_for('blog.profile', username=post.author.username) }}">By {{ post.author.username|capitalize }}</a><br /><span class="glyphicon glyphicon-time"></span> {{ moment(post.date_posted).format('MMMM Do YYYY, h:mm:ss a') }}
                    <br /> {% if not post.summary == post.body %}
                    <div class="less">{{ post.summary_html|safe }}</div>
                    <div class="more">{{ post.body_html|safe }}</div>
                    <button class="btn btn-xs btn-info show-more">Show more <span class="glyphicon glyphicon-chevron-right"></span></button> {% else %}
                    <div>{{ post.body_html|safe }}</div>
                    {% endif %}
                    <hr />
                    <div class="pull-right">
                        <a class="comment-btn" href="{{ url_for('blog.post', id=post.id) }}#comments"><span class="label label-primary">{{ post.comments.count() }}
                        {% if post.comments.count() == 1 %}Comment{% else %}Comments{% endif %}</span></a>
                        {% if current_user.username == post.author.username %}
                        <a class="edit-btn" href="{{ url_for('blog.edit', id=post.id) }}"><span class="label label-primary">Edit</span></a>
                        {% if post.published %}
                        <a href="{{ url_for('blog.draft', id=post.id) }}"><span class="label label-danger">Make Draft</span></a>
                        {% else %}
                        <a href="{{ url_for('blog.public', id=post.id) }}"><span class="label label-success">Make Public</span></a>
                        {% endif %}
                        {% endif %}
                    </div>
                    <p>Tags: {% for tag in post.tags %} {% if tag.id == post.tags[-1].id %} {# The last tag should not have a comma after it. #}
                        <a href="{{ url_for('blog.tag', id=tag.id) }}">{{ tag.name }}</a> {% else %}
                        <a href="{{ url_for('blog.tag', id=tag.id) }}">{{ tag.name }}</a>, {% endif %} {% endfor %}
                    </p>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <p>No posts have been created by {{ user.username|capitalize }}.</p>
        {% endif %}
    </div>
    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-3">
        {{ macros.blogSidebar(False) }}
    </div>

</div>
<!-- /.row -->

{{ macros.addPagination(pagination, '.index') }}
{% endblock %}
<!-- /.container -->
{% block scripts %}
    {{ super() }}
    <script src="https://rawgit.com/lodev09/bootstrap-markdown/master/js/bootstrap-markdown.js"></script>
    <script data-require="marked@*" data-semver="0.3.1" src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.js"></script>
    <script>
        $(".more").hide();

        $(".post button").each(function() {
            $(this).on("click", function() {
                $this = $(this);
                if ($this.hasClass("show-more")) {
                    $this.html("Show less &raquo;");
                    $this.removeClass("show-more");
                    $this.siblings("div.less").hide();
                    $this.prev().slideDown(1000);
                } else {
                    $this.html("Show more &raquo;");
                    $this.addClass("show-more");
                    $this.siblings("div.less").slideDown(1000);
                    $this.prev().hide();
                }
            });
        });
    </script>
    {{ moment.include_moment() }}
{% endblock %}