#starting,
#hardware,
#basic,
#advanced,
#other,
#account {
    cursor: pointer;
}

li.dropdown-submenu a {
    cursor: pointer;
}

footer p:first-child {
    float: left !important;
}

p, ol {
    font-size: 1.33em;
}

#icon {
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
    border: none !important;
}

body {
    padding-top: 60px;
}

#design-coded {
    float: right;
}

.pull-left {
    margin-right: 10px;
}

#logo img {
    width: 100px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    body {
        padding-top: 120px;
    }
}

.bg-danger {
    padding: 10px 0 10px 10px;
}

#scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0.75;
    z-index: 10000;
    cursor: pointer;
}

@media (min-width: 768px) {
    .margin-top-20 {
        margin-top: -20px;
    }

    .margin-top-10 {
        margin-top: -10px;
    }
}

.rating {
    color: #ffffff;
    background-color: #000000;
    padding: 5px 5px 2px 5px;
    font-size: 0.75em;
}

.rating span.glyphicon-star {
    color: #ffff00;
}

li.dropdown-header {
    cursor: default;
}

@media (max-width: 767px) {
    .pull-xs-none {
        float: none !important;
    }

    #logo img {
        width: 50px;
    }

    h1 {
        font-size: 20px;
    }

    body {
        padding-top: 75px;
    }

    .video-text-right {
        margin-top: 10px;
    }
}