#starting, #hardware, #basic, #advanced, #eng, #maths, #other, #account {
    cursor: pointer;
}

li.dropdown-submenu a {
    cursor: pointer;
}

footer p {
    float: left !important;
}

p {
    font-size: 1.33em;
}

#icon {
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
}

body {
    padding-top: 60px;
}

#design-coded {
    float: right;
}

.pull-left {
    margin-right: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        padding-top: 80px;
    }
}