{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style type="text/css">
    p {
        font-size: 1.25em;
    }
    
    .video-text-right {
        width: 100%;
        height: 100%;
        margin: 10;
        padding: 10;
        background: #f8f8f8;
    }
    
    .video-text-right {
        float: right;
    }
</style>
{% endblock %}

{% block page_content %}
<div class="text-center">
    <h1>Project Videos</h1>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.scratch') }}">Getting Started</a>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.scratchLearn') }}">Learning Resources</a>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.scratchProject') }}">My Project</a>
    <a role="button" class="btn btn-success" href="{{ url_for('main.scratchProjectVideos') }}">Project Videos</a>
    <hr />
</div>

<!-- Start of Videos -->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v-e1x9FkEeA?rel=0"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="video-text-right">
                <h2>Intro to my project</h2>
                <p>This video shows you the intro to my scratch project.</p>
            </div>
        </div>
    </div>
    <br/>
    <!-- Continents -->
    <div class="row">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MdrBHO7dKcQ?rel=0"></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="video-text-right">
                <h2>Continents</h2>
                <p>Learn about the different Continents of the world. Click on a continent to get some more information. Try the the mini quiz as well.</p>
            </div>
        </div>
    </div>
    <br/>
    <!--  Landmarks -->
    <div class="row">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5fo9EzNKYOo?rel=0"></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="video-text-right">
                <h2>Wonders &amp; Landmarks</h2>
                <p>Learn about the Wonders of the world, like the Eiffel Tower or Machu Picchu. In the mini quiz, you match the name with the Wonder or Landmark.
                </p>
            </div>
        </div>
        <br/>
    </div>
    <br/>
    <!-- Oceans and Seas -->
    <div class="row">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ATQDtcERhtw?rel=0"></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="video-text-right">
                <h2>Oceans &amp; Seas</h2>
                <p>Hover over the letters to find the name of the sea. Hover over the fish to find the name of the ocean. Click on a fish/letter to get information. No mini quiz here.</p>
            </div>
        </div>
    </div>
    <br/>
    <!-- Animals -->
    <div class="row">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7tFQFNCYfvQ?rel=0"></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="video-text-right">
                <h2>Animals</h2>
                <p>Learn about different animals around the world. Like the Pirahna, the Wolf and the Panda. When you feel like you have finished you can try the drag-and-drop.</p>
            </div>
        </div>
    </div>
    <br/>
    <!-- Countries and Flags -->
    <div class="row">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UD-WPH6-9CU?rel=0"></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="video-text-right">
                <h2>Countries &amp; Flags</h2>
                <p>Hover over a flag to find out the country and captial. No mini quiz here. You don&#39;t get information if you click on the flag.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<!--<a href="http://scratch.mit.edu/projects/49812240/" title="Flash must be activated." target="_blank">My project on the scratch website.</a>-->
<!--    <iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/49812240/?autostart=false" frameborder="0" allowfullscreen></iframe>-->
{% endblock %} {% block scripts %} {{ super() }}
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.2/clipboard.min.js"></script>
{% endblock %}