{% extends "base.html" %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/image_mul_float.css') }}" />
    {% include "_h2_border.html" %} 
{% endblock %}

{% block page_content %}
    <h1>Learning Resources</h1>

    <hr />

    <h2>Super Scratch Programming Adventure (Scratch 2.0 only)</h2>
    <p>
        <img src="{{ url_for('static', filename='images/book_reviews/scratch/super_scratch_programming.jpg') }}" /> This is about a cat called Scratchy, a guy called Mitch and some cosmic defenders. You will learn to program in a simple language called Scratch and your projects will be part of the adventure.
    </p>

    <h2>Scratch Programming. In easy steps. (Scratch 1.4 and 2.0)</h2>
    <p>
        <img src="{{ url_for('static', filename='images/book_reviews/scratch/scratch_mcmanus.jpg') }}" />
        This is a book that covers both versions of Scratch which is pretty cool. <em>(Additional text here.)</em> I would recommend it for ages 6 - 8.  
    </p>

    <h2>Scratch 2.0 Game Development (Scratch 2.0 only)</h2>
    <p>
        <img src="{{ url_for('static', filename='images/book_reviews/scratch/scratch_chiang.jpg') }}" />
        This is about a cat called Scratchy, a guy called Mitch and some cosmic defenders. You will learn to program in a simple language called Scratch and your projects will be part of the adventure.
    </p>

    <h2>Learn to Program with Scratch (Scratch 2.0 only)</h2>
    <p>
        <img src="{{ url_for('static', filename='images/book_reviews/scratch/scratch_marji.jpg') }}" />
        This is about a cat called Scratchy, a guy called Mitch and some cosmic defenders. You will learn to program in a simple language called Scratch and your projects will be part of the adventure.
    </p>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.scratchProjectVideos') }}">Project Videos</a>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.scratch') }}">Getting Started</a>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.scratchProject') }}">My Project</a>
{% endblock %}