{% extends "base.html" %} {% block styles %} {{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/slider.css" /> {% include "_h2_border.html" %}
<style type="text/css">
    p {
        font-size: 1.25em;
    }
    
    .video-text-right {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1;
        background: #f8f8f8;
        float: right;
    }
</style>
{% endblock %} {% block page_content %}
<title>Use Scratch 2.0 on Raspberry Pi - The MagPi MagazineThe MagPi Magazine</title>
<div class="text-center">
    <h1>Scratch - Getting Started
    </h1>
    <a role="button" class="btn btn-success" href="{{ url_for('main.scratch') }}">Getting Started</a>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.scratchLearn') }}">Learning Resources</a>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.scratchProject') }}">My Project</a>
    <a role="button" class="btn btn-primary" href="{{ url_for('main.scratchProjectVideos') }}">Project Videos</a>
    <hr />
</div>
<div class="container">
    <h2> Welcome to the Scratch - Getting Started page</h2>
    <p>To get started, I have included some introductory videos from the <a target="_blank" href="https://scratch.mit.edu/">Scratch Website</a></p>
    <p>Scratch is a language that allows you to drag and drop blocks to write programs. There are also 2 videos that I made to help you get started.</p>

    <!-- Start of Videos -->
    <!-- Scratch 2.0 Offline Editor -->

    <br/>
    <!-- First Scratch Tutorial -->
    <div class="row">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/65583694?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="video-text-right">
                <h3 class="text-primary">Scratch Promotional Video</h2>
                    <p>This is a cool video from the MIT scratch site. Thank you MIT!!</p>
                    <p> I would recommend using Scratch 2.0. If you are using a raspberry pi you will be using Scratch 1.4. Here is the scratch website: <a href="https://scratch.mit.edu/" target="_blank">click here</a>. To install the Scratch 2.0 Offline
                        Editor please watch my video. <em>(It it useful to run it in full screen mode.)</em>
                    </p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="//player.vimeo.com/video/80961102?autoplay=0;title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="video-text-right">
                <h3 class="text-primary">Getting started with Scratch</h2>
                    <p>This is the official getting started video on the MIT site. Thank you MIT!!</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gC2ToRcSMS8?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="video-text-right">
                <h3 class="text-primary">Downloading the Scratch 2.0 Offline Editor</h2>
                    <p>I made this video to show you how to get started with downloading the Scratch 2.0 Offline Editor. You can register and logon to Scratch, but I found that I could develop quicker with the Offline Editor. It lacks some of the features
                        of the the online editor, like the Backpack. If you would like to make any comments or suggestions then simply <a tabindex="0" href="{{ url_for('blog.index') }}">post on the Blog</a>, and add Scratch as a Tag.</p>
            </div>
        </div>
    </div>
    <br/>
    <!-- First Scratch Tutorial -->
    <div class="row">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iX3UsgEwh-s?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="video-text-right">
                <h3 class="text-primary">How to Program in Scratch.</h2>
                    <p>I hope that you find this simple introduction usefull. If you would like to make any comments or suggestions then simply <a tabindex="0" href="{{ url_for('blog.index') }}">post on the Blog</a>, and add Scratch as a Tag.</p>
            </div>
        </div>
    </div>
    <br/> {% endblock %}