{% extends "base.html" %} {% block styles %} {{ super() }}
<style>
    hr.divider {
        background-color: #fff;
        border-top: 1px dashed #8c8b8b;
    }
    
    hr.top {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
    }
    
    .img-responsive {
        width: 80%;
    }
    
    img.margin-bottom {
        margin-bottom: 10px;
    }
</style>
{% endblock %} {% block page_content %}
<div class="text-left">
    <h1>Events &amp; Competitions</h1>
</div>
<br/>
<hr class="top">

<!-- Start of Events -->
<!-- PF  -->
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ url_for('static', filename='images/science/primary_science_fair.jpg') }}" class="img-responsive margin-bottom" />
        </div>
        <div class="col-sm-7">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H4haCluK_fo?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 margin-top-20">
            <h3 class="text-primary">RDS Primary Science Fair</h3>
            <p>The competition is open to fourth, fifth and sixth classes across the island of Ireland, the Fairs will take place in Dublin, alongside the BT Young Scientist and Technology Exhibition at the RDS, and in Limerick, at the Mary Immaculate College.
                Schools can choose which venue they would prefer to exhibit at when they submit their Expression of Interest for a stand. Schools can choose which venue they would prefer to exhibit at when they submit their Expression of Interest for
                a stand. Please click here for more information. <a target="_blank" href="http://www.rds.ie/primarysciencefair"> RDS Primary Science Fair. </a></p>
        </div>
    </div>
    <br/>
    <hr class="divider">
    <br/>
    <!-- BTYSTE -->
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ url_for('static', filename='images/hardware/bt.gif') }}" class="img-responsive margin-bottom" />
        </div>
        <div class="col-sm-7">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/w1tUAUJ2h04?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 margin-top-20">
            <h3 class="text-primary">BT Young Science and Technology Exhibition</h3>
            <p>This is about a cat called Scratchy, a guy called Mitch and some cosmic defenders. You will learn to program in a simple language called Scratch and your projects will be part of the adventure.</p>
        </div>
    </div>
    <br/>
    <hr class="divider">
    <br/>
    <!-- DM -->
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ url_for('static', filename='images/hardware/dublin_maker.png') }}" class="img-responsive margin-bottom" />
        </div>
        <div class="col-sm-7">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TRAVWLO7LeE?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xs-12 margin-top-20">
            <h3 class="text-primary">Dublin Maker</h3>
            <p>This is a book that covers both versions of Scratch which is pretty cool. <em>(Additional text here.)</em> I would recommend it for ages 6 - 8.</p>
        </div>
    </div>
    <br/>
    <hr class="divider">
    <br/>
    <!-- SW  -->
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ url_for('static', filename='images/maker/tech_week.png') }}" class="img-responsive margin-bottom" />
        </div>
        <div class="col-sm-7">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iZkT4jDCWCg?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xs-12">
            <h3 class="text-primary">Tech Week</h3>
            <p>
                Over 90,000 people participated in and out of classrooms around Ireland. We held a showcase in Dublin Castle to cap Tech Week off. It was brilliant. We had a ball--we hope you did too!
            </p>
        </div>
    </div>
</div>
<hr class="top"> {% endblock %}