{% extends "base.html" %} {% block styles %} {{ super() }}
<style>
    hr.divider {
        background-color: #fff;
        border-top: 1px dashed #8c8b8b;
    }
    
    hr.top {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
    }
    
    .img-responsive {
        width: 80%;
    }
    
    img.margin-bottom {
        margin-bottom: 10px;
    }
</style>
{% endblock %} {% block page_content %}
<div class="text-left">
    <h1>Events &amp; Competitions</h1>
</div>
<br/>
<hr class="top">

<!-- Start of Events -->
<!-- PF  -->
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ url_for('static', filename='images/science/primary_science_fair.jpg') }}" class="img-responsive margin-bottom" />
        </div>
        <div class="col-sm-7">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H4haCluK_fo?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 margin-top-20">
            <h3 class="text-primary">RDS Primary Science Fair</h3>
            <p>The RDS Primary Science Fair provides a public forum for primary schools across Ireland to showcase their class STEM (Science, Technology, Engineering and Mathematics) projects, receive feedback from experts in the field and learn from viewing
                other projects at a major exhibition, the BT Young Scientist and Technology Exhibition. The competition is open to fourth, fifth and sixth classes across the island of Ireland. The Fair also features an exciting science-themed educational
                entertainment programme specifically designed for primary school aged children and features a range of interactive shows, demonstrations and hands-on exhibits. Please click here for more information.
                <a target="_blank" href="http://www.rds.ie/primarysciencefair"> RDS Primary Science Fair. </a></p>
        </div>
    </div>
    <br/>
    <hr class="divider">
    <br/>
    <!-- BTYSTE -->
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ url_for('static', filename='images/hardware/bt.gif') }}" class="img-responsive margin-bottom" />
        </div>
        <div class="col-sm-7">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/w1tUAUJ2h04?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 margin-top-20">
            <h3 class="text-primary">BT Young Science and Technology Exhibition</h3>
            <p>The BT Young Scientist and Technology Exhibition, commonly called the Young Scientist Exhibition, is an Irish annual school students' science competition that has been held in Dublin, Ireland, every January since the competition was founded
                by Fr. Tom Burke & Dr. Tony Scott in 1965. The purpose of the competition is to encourage interest in science in primary and secondary schools. For the 51st year of the competition in 2016, there were over 2,000 entries, from 396 schools
                which was the highest number ever, 550 of which were selected for the Exhibition at the Royal Dublin Society. Projects are awarded in four categories: biology, physics, social and behavioral sciences, and technology. The winners of the
                BT Young Scientist and Technology Exhibition advance to participate in prestigious international events such as the European Union Contest for Young Scientists. Please click here for more information.
                <a target="_blank" href="http://btyoungscientist.com/"> BT Young Scientist.</a> </p>
        </div>
    </div>
    <br/>
    <hr class="divider">
    <br/>
    <!-- DM -->
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ url_for('static', filename='images/hardware/dublin_maker.png') }}" class="img-responsive margin-bottom" />
        </div>
        <div class="col-sm-7">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TRAVWLO7LeE?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xs-12 margin-top-20">
            <h3 class="text-primary">Dublin Maker</h3>
            <p>Dublin Maker is a free to attend, community run event, which will be held on Saturday July 22nd, 2017 in Merrion Square. Dublin Maker takes the form of a “show and tell” experience where inventors/makers sourced through an open call, will
                have an opportunity to showcase their creations in a carnival atmosphere. It is a family friendly showcase of invention, creativity and resourcefulness, and a celebration of the maker movement. It’s a place where people show what they
                are making and share what they are learning. Makers range from tech enthusiasts to crafters, educators, tinkerers, hobbyists, engineers, artists, science clubs, students, authors and commercial exhibitors. They are of all ages and backgrounds,
                coming from all over Ireland and beyond. Dublin Maker’s mission is to entertain, inform and connect the makers of Ireland, while inspiring the next generation of Ireland’s makers and inventors. Please click here for more information.
                <a target="_blank" href="http://www.dublinmaker.ie/"> Dublin Maker.</a> </p>
        </div>
    </div>
    <br/>
    <hr class="divider">
    <br/>
    <!-- SW  -->
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ url_for('static', filename='images/maker/tech_week.png') }}" class="img-responsive margin-bottom" />
        </div>
        <div class="col-sm-7">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iZkT4jDCWCg?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xs-12">
            <h3 class="text-primary">Tech Week</h3>
            <p>
                Tech Week is Ireland’s nationwide festival of technology aimed at students, parents and the public. Tech Week provides hands-on opportunities to learn about how computing and related technology are shaping every area of life: education, health, environment,
                social interaction, leisure, citizenship ... the list never ends and the pace of change never stops. Read about it here.
                <a target="_blank" href="https://www.techweek.ie/about/"> About Tech Week.</a> Get information on events <a target="_blank" href="https://www.techweek.ie/app/event/"> here.</a>
            </p>
        </div>
    </div>
</div>
<hr class="top"> {% endblock %}