{% extends "base.html" %} {% block styles %} {{ super() }}
<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
<style type="text/css">
    #wrapper {
        margin: 30px auto 0;
        width: 900px;
        margin-bottom: 20px;
        padding: 20px;
    }
    
    #wrapper h1 {
        font-family: 'Play', sans-serif;
        margin: 0 0 20px;
        text-align: center;
        text-shadow: 3px 3px 4px grey;
    }
    
    #wrapper p {
        margin: 0 0 30px;
        text-align: center;
    }
    /*.container {
                background: #fff;
                box-shadow: 0 0 10px #ccc;
                margin-bottom: 20px;
                padding: 20px;
                width: 900px;
            }*/
    
    #tabs-container {
        background: #000;
        height: 400px;
        width: 900px;
    }
    
    #tabs-nav {
        float: left;
        width: 280px;
    }
    
    #tabs-nav .logo {
        float: left;
    }
    
    #tabs-nav ul {
        font-family: Garamond, Georgia;
        font-size: 1em;
        list-style: none;
    }
    
    #tabs-nav ul li {
        border-top: 1px solid #000;
        float: left;
    }
    
    #tabs-nav ul li a {
        background: url('/static/images/nav-sprite.jpg') no-repeat;
        color: #999;
        display: block;
        height: 19px;
        padding: 30px;
        width: 220px;
        text-decoration: none;
        font-size: 1.25em;
        text-shadow: 1px 1px 1px #000;
        margin-bottom: 10px;
        font-family: sans-serif;
    }
    
    #tabs-nav ul li a:hover {
        background-position: 0 -79px;
        color: #fff;
    }
    
    #tabs-nav ul li a.active {
        background-position: 0 -158px;
        color: #fff;
    }
    
    #tabs-content {
        background: url('/static/images/ajax-loader.gif') 50% 50% no-repeat;
        float: left;
        height: 400px;
        width: 620px;
    }
    
    #tabs-content .profile {
        display: none;
        /* hide by default */
        height: 400px;
        position: relative;
        width: 620px;
    }
    
    #tabs-content .profile .caption {
        background: url('/static/images/trans_black-50.png');
        padding: 30px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 220px;
    }
    
    #tabs-content .profile .caption h2 {
        color: #fff;
        font-family: Garamond, Georgia;
        margin: 0 0 10px;
    }
    
    #tabs-content .profile .caption p {
        color: #ccc;
        font-family: Arial;
        font-size: 1.05em;
        line-height: 1.5em;
        margin: 0;
        text-align: left;
    }
</style>
{% endblock %} {% block page_content %}
<div id="wrapper">
    <div class="row">
        <div class="col-xs-12">
            <h1>Famous Makers</h1>

            <div id="tabs-container">

                <div id="tabs-nav">
                    <img src="{{ url_for('static', filename='images/maker/famousMakersLogo.jpg') }}" class="logo" />
                    <ul>
                        <li><a href="#" data-id="limor-fried" class="active">Limor Fried</a></li>
                        <li><a href="#" data-id="massimo-banzi">Massimo Banzi</a></li>
                        <li><a href="#" data-id="steve-jobs">Steve Jobs</a></li>
                        <li><a href="#" data-id="adam-savage">Adam Savage</a></li>
                    </ul>
                </div>
                <!--/#tabs-nav-->

                <div id="tabs-content">

                    <div class="profile" id="limor-fried" style="display: block;">
                        <div class="caption">
                            <h2>Limor Fried</h2>
                            <p>is an American electrical engineer and owner of the electronics hobbyist company Adafruit Industries. She is is known as LadyAda, in homage to Lady Ada Lovelace. She is influential in the open-source hardware community, and
                                Adafruit make some really cool electronic wearables.</p>
                        </div>
                        <!--/.caption-->
                        <img src="{{ url_for('static', filename='images/maker/limor_fried.jpg') }}" height="400" width="350" />
                    </div>

                    <div class="profile" id="massimo-banzi">
                        <div class="caption">
                            <h2>Massimo Banzi</h2>
                            <p>is an Interaction Designer, Educator and Open Source Hardware advocate. He is co-founder of the Arduino project which is a tiny, easy-to-use open-source microcontroller that's helped people to make the coolest stuff — from
                                toys to satellite gear. </p>
                        </div>
                        <!--/.caption-->
                        <img src="{{ url_for('static', filename='images/maker/massimo_banzi.jpg') }}" height="400" width="350" />
                    </div>

                    <div class="profile" id="steve-jobs">
                        <div class="caption">
                            <h2>Steve Jobs</h2>
                            <p>was an American information technology entrepreneur and inventor. He was co-founder of Apple Inc., maker of the Macintosh computer, the iPod, the iPhone and the iPad. He was CEO and majority shareholder of Pixar Animation Studios.
                            </p>
                        </div>
                        <!--/.caption-->
                        <img src="{{ url_for('static', filename='images/maker/steve_jobs.jpg') }}" />
                    </div>

                    <div class="profile" id="adam-savage">
                        <div class="caption">
                            <h2>Adam Savage</h2>
                            <p>is an American industrial designer and special effects fabricator, actor, educator, and TV personality on the Discovery Channel TV series MythBusters. His model work has appeared in major films, including Star Wars: Episode
                                II and The Matrix Reloaded.</p>
                        </div>
                        <!--/.caption-->
                        <img src="{{ url_for('static', filename='images/maker/adam_savage.jpg') }}" width="400" height="400" />
                    </div>

                </div>
                <!--/#tabs-content-->
            </div>
            <!--/.col-xs-12-->
        </div>
        <!--/#tabs-container-->
    </div>
    <!--/.row-->
    <!--        <p>Demo by <a href="http://alijafarian.com/">Ali Jafarian</a></p>-->
</div>
<!--/#wrapper-->
{% endblock %} {% block scripts %} {{ super() }}
<script type="text/javascript">
    $(document).ready(function() {
        // bind our function to the tabs
        $('#tabs-nav ul li a').click(function(e) {
            e.preventDefault();
            // remove the active state from all links
            $('#tabs-nav ul li a').removeClass("active");
            // add the active state to the clicked link
            $(this).addClass("active");
            // fade out the current container
            $('.profile').fadeOut(600, function() {
                // fade in the clicked container
                $('#' + profileID).fadeIn(600);
            });
            // define our current profile variable
            var profileID = $(this).attr("data-id");
        });
    });
</script>
{% endblock %}