{% extends "base.html" %} {% block styles %} {{ super() }}

<style>
    h1 {
        text-shadow: grey 0.2em 0.2em 0.3em;
    }

    h2,
    h3 {
        color: #fcd062;
        text-shadow: grey 0.1em 0.1em 0.2em;
        margin-top: -10px;
    }
    
    @media (max-width: 768px) {
        h2,
        h3 {
            margin-top: 10px;
        }
    }
    
    p {
        font-size: 1.22em;
    }
    
    .row {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #continue {
        margin-right: 10px;
    }
</style> {% endblock %} {% block page_content %}
<h1 class="text-warning text-center">Maker Introduction</h1>
<div class="row">
    <div class="text-center">
        <h2 class="text-primary">What is a Maker?</h2><br />
        <img src="{{ url_for('static', filename='images/maker/maker_tools_sm.png') }}" class="pull-left" />
        <p>
            <em>The term Maker is used to describe those who love to create things in their spare time (often electronic, often with their own hands). Also called Hobbyists. The term is popular in the open hardware and hardware hacking electronics communities.</em>
        </p>
    </div>
</div>
<br />
<div class="row text-center">
    <h2 class="text-primary">What is a Technology?</h2>
    <br />
    <img src="{{ url_for('static', filename='images/Tech_def1.jpg') }}" alt="technology logo" class="pull-left" />
    <p>
        <em>Technology is the use of knowledge to invent new devices or tools. Throughout history, technology has made people's lives easier. Although we might think of technology as being the internet, mobile devices and computer game, in reality it has been with us since early the earliest humans. Early humans set themselves apart from other animals when they learned to control fire. Later examples of technology were tools and weapons, the printing press, the telephone and Robots.</em></p>
</div>
<br />
<h2 class="text-primary">So where do I get started?</h2>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rUoZwuSDikY?rel=0"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">What Is a Maker?</h2>
            <p>In this video you will know what a Maker is and you will see some projects built by some other Makers.</p>
            <h5><em>Video Courtesy of Make. Thank you!</em></h5>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src=" https://www.youtube.com/embed/NLEJLOB6fDw?rel=0"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">What is a MakerSpace?</h2>
            <p>In this video you will learn what a MakerSpace is. <em>There is no sound on the video, in case you are wondering.</em></p>
            <h5><em>Video Courtesy of Explee. Thank you!</em></h5>
        </div>
    </div>
</div>
<a class="btn btn-primary pull-right" id="continue" href="{{ url_for('main.makeStart') }}">Continue to Getting Started &rarr;</a>
<br />
{% endblock %}