{% extends "base.html" %} {% block styles %} {{ super() }}

<style>
    h2,
    h3 {
        color: #fcd062;
        text-shadow: grey 0.1em 0.1em 0.2em;
        margin-top: -10px;
    }
    
    @media (max-width: 770px) {
        h2,
        h3 {
            margin-top: 10px;
        }
    }
    
    p {
        font-size: 1.22em;
    }
    
    .row {
        margin-top: 30px;
        margin-bottom: 10px;
    }
</style> {% endblock %} {% block page_content %}
<h1>Welcome to The Maker page.</h1>
<div class="row">
    <div class="text-center">
        <h2 class="text-primary">What is a Maker?</h2><br />
        <img src="{{ url_for('static', filename='images/maker/maker_tools_sm.png') }}" class="pull-left" />
        <p>
            <em>The term Maker is used to describe those who love to create things in their spare time (often electronic, often with their own hands). Also called Hobbyists. The term is popular in the open hardware and hardware hacking electronics communities.</em>
            <h5><em>Definition courtesy of Urban Dictionary. http://www.urbandictionary.com/  Thank you!</em></h5>
        </p>
    </div>
</div>
<br/>
<div class="row text-center">
    <h2 class="text-primary">What is a Technology?</h2><br />
    <img src="{{ url_for('static', filename='images/Tech_def1.jpg') }}" alt="technology logo" class="pull-left" />
    <p>
        <em> Technology is the use of knowledge to invent new devices or tools. Throughout history, technology has made people's lives easier. Although we might think of technology as being the internet, mobile devices and computer game, in reality it has been with us since early the earliest humans. Early humans set themselves apart from other animals when they learned to control fire. Later examples of technology were tools and weapons, the printing press, the telephone and Robots.</em></p>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Giiz81_uzK8"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">A cool video by Tony Montez -- Thanks Tony</h2>
            <p>Learn about different animals around the world. Like the Pirahna, the Wolf and the Panda. When you feel like you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V_U7FUqgVtM?rel=0"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">What is a Makerspace?</h2>
            <p>you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src=" https://www.youtube.com/embed/NLEJLOB6fDw?rel=0"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">What is a Makerspace?</h2>
            <p>you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/exlRjDKHGRg?list=PLlyYGDb15zaEAQrPNGd84BmHyko0magnj"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">Adafruit Circuit Playground.</h2>
            <p>Learn about different animals around the world. Like the Pirahna, the Wolf and the Panda. When you feel like you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k9jcHB9tWko?rel=0"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">Breadboards and Circuit Construction.</h2>
            <p>Learn about different animals around the world. Like the Pirahna, the Wolf and the Panda. When you feel like you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Kv7Y8nAOoFE?list=PL9CDF91EC3585AAD9"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">What tools do I need?</h2>
            <p>Learn about different animals around the world. Like the Pirahna, the Wolf and the Panda. When you feel like you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Iy7DY2UbHvM?rel=0"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">Arduino</h2>
            <p>Learn about different animals around the world. Like the Pirahna, the Wolf and the Panda. When you feel like you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<!-- Getting Started -->
<div class="row">
    <div class="col-md-10">
        <h2 class="text-primary">So how do I get started?</h2>
        <p> If you want to get into coding, here are some suggestions. Just hover and click on any of the sections below: </p>
        <p>
            Getting Started: Intro to Coding Video Choosing a Language Choosing a platform Choosing an editor My recommendations: Join a Dojo, then choose a language: Scratch, Processing, Python Web (HTML/CSS/Javascript), Mobile Video: Khanacademy coding resources
            or choose an editors: Scratch Offline Explorer, Notepad++, Nano, Sublime Text, Brackets, Video, Bluefish, Idle, Other Tools: Simage Editors (Gimp and InkscAPE) ???
        </p>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-6">
        <h4 class="bg-danger"><em> Click on any of the sections below to link to the relevant section!</em></h4>
    </div>
</div>

{% endblock %}