{% extends "base.html" %} {% block styles %} {{ super() }}

<style>
    h2,
    h3 {
        color: #fcd062;
        text-shadow: grey 0.1em 0.1em 0.2em;
        margin-top: -10px;
    }
    
    @media (max-width: 770px) {
        h2,
        h3 {
            margin-top: 10px;
        }
    }
    
    p {
        font-size: 1.22em;
    }
    
    .row {
        margin-top: 30px;
        margin-bottom: 10px;
    }
</style> {% endblock %} {% block page_content %}
<h1>Welcome to The Maker page.</h1>
<div class="row">
    <div class="text-center">
        <h2 class="text-primary">What is a Maker?</h2><br />
        <img src="{{ url_for('static', filename='images/maker/maker_tools_sm.png') }}" class="pull-left" />
        <p>
            <em>The term Maker is ysed to describe those who love to create things in their spare time (often electronic, often with their own hands). Also called Hobbyists. The term is popular in the open hardware and hardware hacking electronics communities.</em>
            <h5><em>Definition courtesy of Urban Dictionary. http://www.urbandictionary.com/  Thank you!</em></h5>
        </p>
    </div>
</div>
<br/>
<div class="row text-center">
    <h2 class="text-primary">What is a Technology?</h2><br />
    <img src="{{ url_for('static', filename='images/Tech_def1.jpg') }}" alt="technology logo" class="pull-left" />
    <p>
        <em> Technology is the use of knowledge to invent new devices or tools. Throughout history, technology has made people's lives easier. Although we might think of technology as being the internet, mobile devices and computer game, in reality it has been with us since early the earliest humans. Early humans set themselves apart from other animals when they learned to control fire. Later examples of technology were tools and weapons, the printing press, the telephone and Robots.</em></p>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Giiz81_uzK8"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">A cool video by Tony Montez -- Thanks Tony</h2>
            <p>Learn about different animals around the world. Like the Pirahna, the Wolf and the Panda. When you feel like you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V_U7FUqgVtM?rel=0"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">What is a Makerspace?</h2>
            <p>you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/exlRjDKHGRg?list=PLlyYGDb15zaEAQrPNGd84BmHyko0magnj"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">Adafruit Circuit Playground.</h2>
            <p>Learn about different animals around the world. Like the Pirahna, the Wolf and the Panda. When you feel like you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k9jcHB9tWko?rel=0"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">Breadboards and Circuit Construction.</h2>
            <p>Learn about different animals around the world. Like the Pirahna, the Wolf and the Panda. When you feel like you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Kv7Y8nAOoFE?list=PL9CDF91EC3585AAD9"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">What tools do I need?</h2>
            <p>Learn about different animals around the world. Like the Pirahna, the Wolf and the Panda. When you feel like you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Iy7DY2UbHvM?rel=0"></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="video-text-right">
            <h2 class="text-primary">Arduino</h2>
            <p>Learn about different animals around the world. Like the Pirahna, the Wolf and the Panda. When you feel like you have finished you can try the drag-and-drop.</p>
        </div>
    </div>
</div>
<!-- Getting Started -->
<div class="row">
    <div class="col-md-10">
        <h2 class="text-primary">So how do I get started?</h2>
        <p> If you want to get into coding, here are some suggestions. Just hover and click on any of the sections below: </p>
        <p>
            Getting Started: Intro to Coding Video Choosing a Language Choosing a platform Choosing an editor My recommendations: Join a Dojo, then choose a language: Scratch, Processing, Python Web (HTML/CSS/Javascript), Mobile Video: Khanacademy coding resources
            or choose an editors: Scratch Offline Explorer, Notepad++, Nano, Sublime Text, Brackets, Video, Bluefish, Idle, Other Tools: Simage Editors (Gimp and InkscAPE) ???
        </p>
    </div>
</div>
<div class="list-group">
    <a href="https://coderdojo.com/" class="list-group-item ">
        <img src="{{ url_for('static', filename='images/about/coderdojo.jpg') }}" class="pull-left" />
        <h3 class="list-group-item-heading ">Join Coder Dojo!</h3>
        <p class="list-group-item-text">I have been attending Coderdojo for almost 2 years now. It's fantastic!! CoderDojo is a global movement of free, volunteer-led, community based programming clubs for young people. At a Dojo, young people, between 7 and 17, learn how to code, develop
            websites, apps, programs, games and explore technology in an informal and creative environment. In addition to learning to code attendees meet like minded people and are exposed to the possibilities of technology.</p>
    </a>
    <br />
    <a href="{{ url_for('main.scratch') }}" class="list-group-item">
        <img src="{{ url_for('static', filename='images/coding/scratch_cat.png') }}" class="pull-left" />
        <h3 class="list-group-item-heading ">Learn Scratch</h3>
        <p class="list-group-item-text">Scratch is a programming language and an online community where children can program and share interactive media such as stories, games, and animation with people from all over the world. To get started kead on over to the Scratch Page, by clicking
            on this text now. If you are wondering what you can create with Scratch, then ckeck out some of these Projects here or my project Snapshot of our world.(Link herre)</p>
    </a>
    <br />
    <a href="https://www.khanacademy.org/computing/computer-programming/programming" class="list-group-item">
        <img src="{{ url_for('static', filename='images/coding/processing.png') }}" class="pull-left" />
        <h3 class="list-group-item-heading ">Learn the Processing Language on Khan Academy</h3>
        <p class="list-group-item-text">Processing is an open source programming language and integrated development environment (IDE) built for the electronic arts, new media art, and visual design communities with the purpose of teaching the fundamentals of computer programming in
            a visual context, and to serve as the foundation for electronic sketchbooks. If you are wondering what y9u can do with Processing then check out some of these cool animations that I made while learning processing on KHAN Academy.</p>
    </a>
    <br />

    <a href="https://www.khanacademy.org/computing/computer-programming/html-css" class="list-group-item">
        <img src="{{ url_for('static', filename='images/about/html5.svg') }}" class="pull-left" />
        <img src="{{ url_for('static', filename='images/about/js.svg') }}" class="pull-left" /><img src="{{ url_for('static', filename='images/about/css3.svg') }}" class="pull-left" />
        <h3 class="list-group-item-heading ">Learn how to create Webpages</h3>
        <p class="list-group-item-text">Learn how to use HTML and CSS to make webpages. HTML is the markup language that you surround content with, to tell browsers about headings, lists, tables, etc. CSS is the stylesheet language that you style the page with, to tell browsers to change
            the color, font, layout, and more.</p>
    </a>
    <br />
    <a href="https://www.khanacademy.org/computing/computer-programming/programming" class="list-group-item">
        <img src="{{ url_for('static', filename='images/coding/processing.png') }}" class="pull-left" />
        <h3 class="list-group-item-heading ">Learn how to code Mobile Apps.</h3>
        <p class="list-group-item-text">Processing is an open source programming language and integrated development environment (IDE) built for the electronic arts, new media art, and visual design communities with the purpose of teaching the fundamentals of computer programming in
            a visual context, and to serve as the foundation for electronic sketchbooks. If you are wondering what y9u can do with Processing then check out some of these cool animations that I made while learning processing on KHAN Academy.</p>
    </a>
    <br />
    <a href="https://www.khanacademy.org/computing/computer-programming/programming" class="list-group-item">
        <img src="{{ url_for('static', filename='images/about/python.svg') }}" class="pull-left" />
        <h3 class="list-group-item-heading ">Learn the Python Language.</h3>
        <p class="list-group-item-text">Processing is an open source programming language and integrated development environment (IDE) built for the electronic arts, new media art, and visual design communities with the purpose of teaching the fundamentals of computer programming in
            a visual context, and to serve as the foundation for electronic sketchbooks. If you are wondering what y9u can do with Processing then check out some of these cool animations that I made while learning processing on KHAN Academy.</p>
    </a>
    <br/>
    <br />
    <a href="https://www.khanacademy.org/computing/computer-programming/programming" class="list-group-item">
        <img src="{{ url_for('static', filename='images/about/python.svg') }}" class="pull-left" />
        <h3 class="list-group-item-heading ">Learn the Python Language.</h3>
        <p class="list-group-item-text">Processing is an open source programming language and integrated development environment (IDE) built for the electronic arts, new media art, and visual design communities with the purpose of teaching the fundamentals of computer programming in
            a visual context, and to serve as the foundation for electronic sketchbooks. If you are wondering what y9u can do with Processing then check out some of these cool animations that I made while learning processing on KHAN Academy.</p>
    </a>
    <br/>
    <a href="{{ url_for('main.drawing') }}" class="list-group-item">
        <h3 class="list-group-item-heading ">Check out some of my Processing code</h3>
        <p class="list-group-item-text">I created these Processing examples on the KHAN Academy Animations</p>
    </a>
</div>
{% endblock %}