{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/image_mul_float.css') }}" />
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Events</h1>
</div>
<h2>RDS Primary Science Fair</h2>
<p>
    <img src="{{ url_for('static', filename='images/science/primary_science_fair.jpg') }}" />
    The competition is open to fourth, fifth and sixth classes across the island of Ireland, the Fairs will take place in Dublin, alongside the BT Young Scientist and Technology Exhibition at the RDS, and in Limerick, at the Mary Immaculate College. Schools can choose which venue they would prefer to exhibit at when they submit their Expression of Interest for a stand.
    <br />
    <br /> Schools can choose which venue they would prefer to exhibit at when they submit their Expression of Interest for a stand. Please click here for more information. <a href="http://www.rds.ie/primarysciencefair"> RDS Primary Science Fair. </a>
</p>

<h2>Google Science Fair</h2>

<p>
    <img src="{{ url_for('static', filename='images/science/pri_sci2.jpg') }}" />This is a book that covers both versions of Scratch which is pretty cool. <em>(Additional text here.)</em> I would recommend it for ages 6 - 8.
</p>

<h2>SciFest</h2>

<p>
    <img src="{{ url_for('static', filename='images/science/sci-fest.jpg') }}" /><a href="http://scifest.ie/">SciFest</a> is a series of one-day science fairs for second-level students hosted locally in schools and regional level in third level colleges. It is an all-Ireland science competition where second-level students showcase science, technology, engineering and maths (STEM) projects at a series of one day science fairs held regionally in the 14 Institutes of Technology, DCU and St. Mary’s College, Derry.
    <br />
    <br /> The winners from each regional science fair go on to compete at a national final in November, while the national final winner(s) of SciFest 2015, will be presented with a trophy and will represent Ireland at the Intel International Science and Engineering Fair (ISEF) 2016 in Phoenix, Arizona.
</p>
<h2>Science Week</h2>
<p>
    <img src="{{ url_for('static', filename='images/science/science_week.png') }}" />Science week 2016 2016 marks the 21st year of Science Week; a national, annual event that celebrates the fascinating worlds of science, technology, engineering and mathematics (STEM). Science Week 2016 takes place from the 13th to 20th November. There will be lots of events happening across the country which you can find out more about on www.scienceweek.ie.
</p>
<h2>Junior Einsteins Science Club</h2>
<p>
    <img src="{{ url_for('static', filename='images/science/science_week.png') }}" />Science week 2016 2016 marks the 21st year of Science Week; a national, annual event that celebrates the fascinating worlds of science, technology, engineering and mathematics (STEM). Science Week 2016 takes place from the 13th to 20th November. There will be lots of events happening across the country which you can find out more about on www.scienceweek.ie.
</p>
{% endblock %}