{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <h1>Registered Buddies</h1>
    </div>
    {% for user in users %}
    <div class="row">
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <a href="{{ url_for('blog.profile', username=user.username) }}"><img src="{{ user.getAvatar(size=90) }}" class="img-rounded profile-img"></a>
        </div>
        <div class="col-lg-11 col-md-10 col-sm-10 col-xs-8">
            <span class="pull-right pull-xs-none">
            Member since {{ moment(user.date_registered).format('DD/MM/YYYY') }}.
            Last seen {{ moment(user.last_seen).fromNow(refresh=True) }}.
            </span>
            <p>
                <a href="{{ url_for('blog.profile', username=user.username) }}">{{ user.username|capitalize }}</a>
                <br />
                {% if user.about_me %}{{ user.about_me }}{% else %}No information about {{ user.username|capitalize }} has been given.{% endif %}
                <br />
                <a class="btn btn-sm btn-info" href="{{ url_for('blog.posts', username=user.username) }}"><span class="badge">{{ user.posts.filter_by(published=True).count() }}</span> public {% if user.posts.filter_by(published=True).count() != 1 %}posts{% else %}post{% endif %}.</a>
                <a class="btn btn-sm btn-info" href="{{ url_for('snippets.someonesSnippets', username=user.username) }}"><span class="badge">{{ user.snippets.count() }}</span> {% if user.snippets.count() != 1 %}snippets{% else %}snippet{% endif %}.</a>
                <a class="btn btn-sm btn-info" href="{{ url_for('projects.someonesProjects', username=user.username) }}"><span class="badge">{{ user.projects.count() }}</span> {% if user.projects.count() != 1 %}projects{% else %}project{% endif %}.</a>
            </p>
        </div>
    </div>
    {% if not user.id == users|length %}
    <br />
    {% endif %}
    {% endfor %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}